@model JCold_UVU_MVC_Inventory.Models.Department

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Department Entry</h2>


<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepChair)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepChair)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepChairEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepChairEmail)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <button type="button" class="btn btn-uvu" data-toggle="modal" data-target="#exampleModal">
            Delete
        </button>
        <br />
        <br />
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            This will delete all records that contain this department entry on the check out books and supplies page.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="modal-body">
                            <div class="form-actions no-color">
                                <input type="submit" value="Yes" class="btn btn-danger" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
