@model IEnumerable<JCold_UVU_MVC_Inventory.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2><i class="fa fa-lg fa-address-card"></i> Departments</h2>

<br />
<br />
<p>
    @if (User.IsInRole("canEdit"))
    {
        <a href="@Url.Action("Create", "Departments")" style="color: white" class="btn btn-uvu">Add Department</a>
    }
    <a href="@Url.Action("Filter", "Departments")" style="color: white" class="btn btn-uvu">Filter</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepChair)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepChairEmail)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepChair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepChairEmail)
            </td>
            <td>
                @if (User.IsInRole("canEdit"))
                {
                    <a href="@Url.Action("Edit", "Departments", new { id = item.DepartmentID })" style="color: black" class="btn btn-sm btn-light">Edit</a>
                }
                <a href="@Url.Action("Details", "Departments", new { id = item.DepartmentID })" style="color: black" class="btn btn-sm btn-light">Details</a>
                @if (User.IsInRole("canEdit"))
                {
                    <a href="@Url.Action("Delete", "Departments", new { id = item.DepartmentID })" style="color: black" class="btn btn-sm btn-light">Delete</a>
                }
            </td>
        </tr>
    }

</table>
