@model JCold_UVU_MVC_Inventory.Models.Books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <div class=" clearfix">
        @if (Model.Files.Any(x => x.FileType == JCold_UVU_MVC_Inventory.Models.FileType.Photo))
        {
            <p>
                <img class="img-fluid" src="~/File?id=@Model.Files.First(x => x.FileType == JCold_UVU_MVC_Inventory.Models.FileType.Photo).FileId" alt="Profile Image" width="250" />
            </p>
        }
    </div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ISBN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publisher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publisher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassRoom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassRoom)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("canEdit"))
    {
    <a href="@Url.Action("Edit", "Books", new { id = Model.BooksID })" style="color: black" class="btn btn-sm btn-light">Edit</a>
    }
    <a href="@Url.Action("Index", "Books", new { id = Model.BooksID })" style="color: black" class="btn btn-sm btn-light">Back To List</a>
</p>
