<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UVU Inventory</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <script src="/Scripts/jquery-3.0.0.js"></script>
    <script src="/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>

</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
            <a href="@Url.Action("Index", "Home")"><img class="img-logo" src="~/Images/UVUMonogramGreen-0005.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a href="@Url.Action("Index", "Books")" class="nav-link">Books</a>
                    </li>
                    <li class="nav-item ">
                        <a href="@Url.Action("Index", "Supplies")" class="nav-link">Supplies</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Departments")" class="nav-link">Departments</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Students")" class="nav-link">Students</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Check out
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Index", "CheckOutBooks")">Books</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "CheckOutSupplies")">Supplies</a>
                        </div>
                </ul>
                <br />
                @Html.Partial("_LoginPartial")
                <br />
            </div>
        </div>
    </nav>

    
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Team EDGT</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

