@model JCold_UVU_MVC_Inventory.Models.Students
@using JCold_UVU_MVC_Inventory.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UVUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UVUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <br />
        <dt>
            <i class="fa fa-lg fa-check"></i>
            <i class="fa fa-lg fa-book"></i>
        </dt>

        <td>
            @if (Model.HasCheckedOutBooks)
            {

                foreach (var item in ViewBag.CheckBookQuery)
                {
                    @item
                    <br />
                    <br />
                }
            }
            else
            {
                <p>N/A</p>
            }
        </td>

        <br />
        <dt>
            <i class="fa fa-lg fa-check"></i>
            <i class="fa fa-lg fa-pencil"></i>
        </dt>
        <td>
            @if (Model.HasCheckedOutSupplies)
            {
                foreach (var item in ViewBag.CheckSuppliesQuery)
                {
                    @item
                    <br />
                }
            }
            else
            {
                <p>N/A</p>
            }
        </td>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Students", new { id = Model.StudentsID })" style="color: black" class="btn btn-sm btn-light">Edit</a>
    <a href="@Url.Action("Index", "Students", new { id = Model.StudentsID })" style="color: black" class="btn btn-sm btn-light">Back To List</a>
</p>
