@model JCold_UVU_MVC_Inventory.Models.Students

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Students</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UVUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UVUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasCheckedOutBooks)
        </dt>
        <td>
            @if(Model.HasCheckedOutBooks) {
                <i class="fa fa-lg fa-check-circle" style="color: forestgreen"></i>
                }
                else {
                <p>N/A</p>
                }
        </td>
        <dt>
            @Html.DisplayNameFor(model => model.HasCheckedOutSupplies)
        </dt>
        <td>
            @if(Model.HasCheckedOutSupplies) {
                <i class="fa fa-lg fa-check-circle" style="color: forestgreen"></i>
                }
                else {
                <p>N/A</p>
                }
        </td>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
