@model IEnumerable<JCold_UVU_MVC_Inventory.Models.Students>

@{
    ViewBag.Title = "Filter";
}
@using GridMvc.Html

<h2><i class="fa fa-lg fa-search "></i>Filter</h2>
<br />
<br />
<a href="@Url.Action("Create", "Students")" style="color: white" class="btn btn-primary">Add Student</a>
<a href="@Url.Action("Index", "Students")" style="color: white" class="btn btn-secondary">Back</a>
<br />
<p></p>

@Html.Grid(Model).Columns(c =>
{
    c.Add(d => d.UVUID).Titled("UVUID");
    c.Add(d => d.StudentName).Titled("Name");
    c.Add(d => d.StudentEmail).Titled("Email");
    c.Add(d => d.StudentPhone).Titled("Phone");
    c.Add(d => d.HasCheckedOutBooks).Titled("Checked Books");
    c.Add(d => d.HasCheckedOutSupplies).Titled("Checked Supplies");
    c.Add().Encoded(false).Sanitized(false).RenderValueAs(o => (
@<b>
    <a href="@Url.Action("Edit", "Students", new {id = o.StudentsID })"><i class="fa  fa-lg fa-pencil-square" title="Edit"></i></a>
    <a href="@Url.Action("Details", "Students", new {id = o.StudentsID })"><i class="fa fa-lg fa-info-circle" title="Details"></i></a>
    <a href="@Url.Action("Delete", "Students", new {id = o.StudentsID })"><i class="fa fa-lg fa-times-circle" title="Delete"></i></a>
</b>));
        }).Sortable(true).Filterable(true).WithPaging(10).WithMultipleFilters()



