@model IEnumerable<JCold_UVU_MVC_Inventory.Models.Students>

@{
    ViewBag.Title = "Students";
}

<h2><i class="fa fa-lg fa-graduation-cap"></i> Students</h2>

@using (Html.BeginForm("Search", "Students", FormMethod.Get, new { @class = "form-inline" }))
{
    <input type="text" class="form-control" size="30" name="studentName" placeholder="Search Name, UVU ID" />
    <input type="submit" class="btn btn-default" value="Search" />
}
<br />
<br />
<p>
    <a href="@Url.Action("Create", "Students")" style="color: white" class="btn btn-uvu">Add Student</a>
    <a href="@Url.Action("Filter", "Students")" style="color: white" class="btn btn-uvu">Filter</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UVUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentPhone)
        </th>
        <th>
            <i class="fa fa-lg fa-check" title="Has checked-out books"></i>
            <i class="fa fa-lg fa-book" title="Has checked-out books"></i>
        </th>
        <th>
            <i class="fa fa-lg fa-check" title="Has checked-out supplies"></i>
            <i class="fa fa-lg fa-pencil" title="Has checked-out supplies"></i>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UVUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentPhone)
        </td>
        <td>
            @if (item.HasCheckedOutBooks)
            {
                <a href="@Url.Action("Details", "Students", new { id = item.StudentsID })" style="color: black" class="btn btn-sm btn-outline-primary">Yes</a>
            }
            else
            {
                <span class="badge badge-light">No</span>
            }
        </td>
        <td>
            @if (item.HasCheckedOutSupplies)
            {
            <a href="@Url.Action("Details", "Students", new { id = item.StudentsID })" style="color: black" class="btn btn-sm btn-outline-primary">Yes</a>
            }
            else
            {
                <span class="badge badge-light">No</span>
            }
        </td>
        <td>
            <a href="@Url.Action("Edit", "Students", new { id = item.StudentsID })" style="color: black" class="btn btn-sm btn-light">Edit</a>
            <a href="@Url.Action("Details", "Students", new { id = item.StudentsID })" style="color: black" class="btn btn-sm btn-light">Details</a>
            <a href="@Url.Action("Delete", "Students", new { id = item.StudentsID })" style="color: black" class="btn btn-sm btn-light">Delete</a>
        </td>
    </tr>
    }

</table>
