@model JCold_UVU_MVC_Inventory.Models.CheckOutSupplies

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Check out Supplies</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <!-- Begin Jquery ui supplies autocomplete-->
    <div class="form-group">
        @Html.LabelFor(model => model.SuppliesID, "Supply", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" id="SuppliesID" placeholder="Search Supply Name/Class Room" />
            @Html.HiddenFor(model => model.SuppliesID, new { @id = "hidden_supplyid" })
            @Html.ValidationMessageFor(model => model.SuppliesID, "", new { @class = "text-danger" })

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#SuppliesID").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "/CheckOutSupplies/AutoCompleteSupplies",
                                type: "POST",
                                dataType: "json",
                                data: { Prefix: request.term },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.Name + ', Number: #' + item.Number + ', Class Room: ' + item.ClassRoom,
                                            value: item.Name + ', Number: #' + item.Number + ', Class Room: ' + item.ClassRoom,
                                            id: item.SuppliesID
                                        };
                                    }))

                                }
                            })
                        },
                        messages: {
                            noResults: "",
                            results: function (count) {
                                return count + (count > 1 ? ' results' : ' result ') + ' found';
                            }
                        },
                        select: function (event, ui) {
                            $('#hidden_supplyid').val(ui.item.id)
                        }
                    });
                })
            </script>
        </div>
    </div>
    <!-- End Jquery ui supplies autocomplete-->
    <!-- Begin Jquery ui students autocomplete-->
    <div class="form-group">
        @Html.LabelFor(model => model.StudentsID, "Student", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" id="StudentsID" placeholder="Search Student Name/UVUID" />
            @Html.HiddenFor(model => model.StudentsID, new { @id = "hidden_studentid" })
            @Html.ValidationMessageFor(model => model.StudentsID, "", new { @class = "text-danger" })

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#StudentsID").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "/CheckOutSupplies/AutoCompleteStudents",
                                type: "POST",
                                dataType: "json",
                                data: { Prefix: request.term },
                                success: function (data) {
                                    response($.map(data, function (item) {
                                        return {
                                            label: item.StudentName + ', UVUID: ' + item.UVUID,
                                            value: item.StudentName + ', UVUID: ' + item.UVUID,
                                            id: item.StudentsID
                                        };
                                    }))

                                }
                            })
                        },
                        messages: {
                            noResults: "",
                            results: function (count) {
                                return count + (count > 1 ? ' results' : ' result ') + ' found';
                            }
                        },
                        select: function (event, ui) {
                            $('#hidden_studentid').val(ui.item.id)
                        }
                    });
                })
            </script>
        </div>
    </div>
    <!-- End Jquery ui students autocomplete-->

    <div class="form-group">
        @Html.LabelFor(model => model.DepartmentID, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DepartmentID", null, "Select a Department", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DueDate, "Due Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CheckedOutDate, "", new { @class = "text-danger" })
            <script>
                $(function () {
                    $("#DueDate").datepicker();
                });
            </script>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CheckedOutDate, "Check out Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CheckedOutDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CheckedOutDate, "", new { @class = "text-danger" })
            <script>
                $(function () {
                    $("#CheckedOutDate").datepicker();
                });
            </script>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Check out" class="btn btn-uvu btn-block" />
            <br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
