@model JCold_UVU_MVC_Inventory.Models.CheckOutSupplies

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckOutSupplies</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.DepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.StudentName), UVU ID, Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.StudentName),
            @Html.DisplayFor(Model => Model.Students.UVUID),
            @Html.DisplayFor(Model => Model.Students.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplies.Name), Value, Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplies.Name),
            @Html.DisplayFor(Model => Model.Supplies.Value),
            #@Html.DisplayFor(Model => Model.Supplies.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnedSupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnedSupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckedOutDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckOutSuppliesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
