@model JCold_UVU_MVC_Inventory.Models.CheckOutBook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CheckOutBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Books.Title), ISBN, Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Books.Title), 
            @Html.DisplayFor(model => model.Books.ISBN),
            #@Html.DisplayFor(Model => Model.Books.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Students.StudentName), UVU ID, Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Students.StudentName), 
            @Html.DisplayFor(model => model.Students.UVUID), 
            @Html.DisplayFor(model => model.Students.StudentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnedBook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnedBook)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckedOutDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckedOutDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckOutBookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
