@model IEnumerable<JCold_UVU_MVC_Inventory.Models.CheckOutBook>

@{
    ViewBag.Title = "Book Check Out";
}
@using MVCGrid.Web


<h2><i class="fa fa-lg fa-calendar-check-o"></i> Check out Books</h2>

<br />
<br />
<p>
    <a href="@Url.Action("Create", "CheckOutBooks")" style="color: white" class="btn btn-primary">Check out</a>
</p>


<div class="well">
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Book Title"
                   data-mvcgrid-type="filter" data-mvcgrid-option="Book Name" />
        </div>
        <div class="form-group">


            <input type="email" class="form-control" placeholder="Department Name"
                   data-mvcgrid-type="filter" data-mvcgrid-option="Department Name" />
        </div>
        <div class="form-group">
            <select class="form-control" data-mvcgrid-type="filter" data-mvcgrid-option="Returned Book">
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <button type="button" class="btn btn-default" data-mvcgrid-apply-filter="click">Apply</button>
    </div>
</div>

@Html.MVCGrid("CheckBookGrid")

<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Books.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.DepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Students.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnedBook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckedOutDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Books.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.DepName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Students.StudentName)
            </td>

            <td>
                @if (@item.ReturnedBook)
                {
                    <i class="fa fa-lg fa-check-circle" style="color: forestgreen"></i>
                }
                else
                {
                    <i class="fa fa-lg fa-times-circle" style="color: darkgoldenrod"></i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedOutDate)
            </td>
            <td>
                <a href="@Url.Action("Edit", "CheckOutBooks", new { id = item.CheckOutBookID })" style="color: black" class="btn btn-sm btn-light">Edit</a>
                <a href="@Url.Action("Details", "CheckOutBooks", new { id = item.CheckOutBookID })" style="color: black" class="btn btn-sm btn-light">Details</a>
                <a href="@Url.Action("Delete", "CheckOutBooks", new { id = item.CheckOutBookID })" style="color: black" class="btn btn-sm btn-light">Delete</a>
            </td>
        </tr>
    }

</table>
